language: python
python :
- "2.7"

addons: 
  firefox: latest

#build: "python setup.py build"

install:
  - pip install -e .
  - npm install geckodriver

before_install :
  - sudo sh ./add_to_path.sh

# command to run tests
script: "nosetests lntk/tests/"
